# spring.application.name=auth-service

server:
  port: 9200

spring:
  application:
    name: auth-service
#  main:
#    allow-circular-references: true
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:clinic_auth}?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASS:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092, localhost:9093}
    consumer:
      group-id: auth-service-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: 'com.clinic.*'
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    listener:
      concurrency: 2

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

  instance:
    hostname: localhost
    prefer-ip-address: true


app:
  jwt:
    issuer: clinic-auth
    access-exp-minutes: ${JWT_ACCESS_MIN:15}
    refresh-exp-days: ${JWT_REFRESH_DAYS:30}
    private-key-pem: ${JWT_PRIVATE_KEY}
    internal-private-key-pem: ${INTERNAL_JWT_PRIVATE_KEY}
    internal-public-key-pem: ${INTERNAL_JWT_PUBLIC_KEY}
#    public-key-pem: ${JWT_PUBLIC_KEY}
#    ${JWT_PRIVATE_KEY}


#    private-key-path: ${JWT_PRIVATE_KEY_PATH:classpath:keys/private.pem}
#    public-key-path: ${JWT_PUBLIC_KEY_PATH:classpath:keys/public.pem}
