
server:
  port: 8082

spring:
  application:
    name: user-management-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:clinic_auth}?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASS:root}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false


eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

  instance:
    hostname: localhost
    prefer-ip-address: true

app:
  jwt:
    internal-private-key-pem: ${INTERNAL_JWT_PRIVATE_KEY}
    internal-public-key-pem: ${INTERNAL_JWT_PUBLIC_KEY}

logging:
  level:
    org.springframework.web: DEBUG
    com.clinic.usermanagementservice: DEBUG


#  spring.jpa.show-sql=true
#  spring.jpa.properties.hibernate.format_sql=true
#  logging.level.org.hibernate.SQL=DEBUG
#  logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
